@font-face {
	font-family: Roboto;
	src: url(./asset/fonts/Roboto/Roboto-Regular.ttf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url(./asset/fonts/Roboto/Roboto-Italic.ttf);
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: Roboto;
	src: url(./asset/fonts/Roboto/Roboto-Bold.ttf);
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url(./asset/fonts/Roboto/Roboto-BoldItalic.ttf);
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: Roboto;
	src: url(./asset/fonts/Roboto/Roboto-Light.ttf);
	font-weight: light;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url(./asset/fonts/Roboto/Roboto-LightItalic.ttf);
	font-weight: light;
	font-style: italic;
}

@font-face {
	font-family: GreatVibes;
	src: url(./asset/fonts/Great_Vibes/GreatVibes-Regular.ttf);
}

body {
	margin: 0;
	font-family: Roboto, "Courier New", Courier, monospace;
}

article {
	scroll-behavior: smooth;
}

.row {
	display: flex;
	flex-direction: row;
}

.col {
	display: flex;
	flex-direction: column;
}

section.row {
	padding: 1em;
}

/* Content section */
.content {
	background-color: white;
	padding: 1em 0;
}

.content .row {
	flex-wrap: wrap;
	justify-content: center;
	min-height: 40vh;
}

.content .row.subtitle {
	min-height: fit-content;
}

.content img {
	width: 30%;
	min-width: 7em;
	height: auto;
}

p img {
	float: left;
	margin-right: 1em;
}

.content p,
.content .row div {
	max-width: 35%;
	min-width: 20em;
	width: 100%;
	margin-left: 2.5em;
	margin-right: 2.5em;
}

.content h2 {
	margin: 0;
}

.content .row.last {
	background: linear-gradient(black, white);
	margin-bottom: -0.5em;
	padding: 0.5em;
}

.content .row.last img {
	transform: scaleX(2) translateY(0.5em);
	background-color: transparent;
}

.content .row.last {
	transition: transform ease-in 300;
}

.content .row.last a:hover {
	transform: scale(1.5) translateY(-0.125em);
}

/* Galery */
.galery {
	position: relative;
	background-image: linear-gradient(30deg, gray, black);
	--img-width: calc(27vw - 1em);
}

.galery .row {
	min-height: fit-content;
	align-items: center;
	flex-wrap: nowrap;
	gap: 1em;
	transition: all ease-in-out 100ms;
}

.galery img {
	display: block;
	min-width: 0;
	width: var(--img-width);
	height: auto;
	flex: none;
	transition: all ease-in-out 100ms;
}

.galery .btn-container {
	position: absolute;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 9.5vw;
	background-color: transparent;
	z-index: 1;
}

.galery .btn-container.backward {
	left: 0;
}

.galery .btn-container.forward {
	right: 0;
}

.galery .btn-container button {
	background: white;
	transform: scaleY(2);
	border: none;
	transition: transform ease-in-out 100ms;
}

.galery .btn-container button:hover {
	transform: scaleY(2) scale(1.5);
}

.galery .btn-container img {
	min-width: 0;
	width: 1.5em;
	height: 1.5em;
	transform: scaleY(1.5);
}

.galery .row img:hover {
	transform: scale(1.05);
}

.galery h2 {
	width: 100%;
	text-align: center;
	color: white;
}

::backdrop {
	background-color: black;
	opacity: 0.75;
}

dialog {
	position: relative;
	padding: 2em;
	border: none;
	max-width: 100vw;
	max-height: 100vh;
}

dialog button {
	position: absolute;
	top: 0;
	right: 0;
	background: transparent;
	border: none;
}

dialog button img {
	width: 2em;
	height: 2em;
}

dialog img.picture {
	max-width: 100%;
	max-height: calc(100vh - 4em);
	opacity: 1;
	/*transition: opacity ease-in-out 300ms;*/
}

.clickable:focus-visible {
	border: 2px solid orangered;
}

.hidden {
	opacity: 0;
	visibility: hidden;
}

/* Contact */
.contact {
	background-color: black;
	color: lightgray;
	padding-bottom: 0;
}

.contact .row {
	transform: translateZ(0) scale(1);
	min-height: fit-content;
	align-items: center;
	gap: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.contact img {
	background-color: lightgrey;
	min-width: 0;
	width: 1.5em;
	height: auto;
}

.contact .row div {
	display: flex;
	align-items: center;
	gap: 1em;
}

.contact a {
	color: lightgray;
}

.contact .row .col div {
	transition: all ease-in-out 300ms;
}

.contact .row .col div:hover {
	transform: scale(1.1);
}

.contact .row .col div:hover a {
	color: white;
}

.contact .row .col div:hover img {
	background-color: white;
}

/* Navigation */
nav {
	position: sticky;
	top: 0;
	left: 0;
	width: 100vw;
	height: fit-content;
	background-color: rgba(0, 0, 0, 0.7);
	justify-content: space-between;
	align-items: baseline;
	color: white;
	z-index: 2;
}

nav a,
nav li {
	color: inherit;
	position: relative;
}

nav li::before {
	content: "";
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	bottom: 0;
	left: -4%;
	height: 0.05em;
	width: 4%;
	z-index: 3;
}

nav li::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: -4%;
	height: 0.05em;
	width: 4%;
	max-width: 100%;
	background-color: white;
	transform-origin: left;
	transform: scaleX(1);
	transition: transform linear 300ms;
	z-index: 2;
}

nav li:hover::after {
	transform: scaleX(25);
}

nav a {
	text-decoration: none;
}

nav li {
	list-style: none;
	margin: 0.5em;
}

nav .logo {
	justify-self: baseline;
	font-family: GreatVibes, "Courier New", Courier, monospace;
	font-size: 150%;
	transition: transform ease-in-out 300ms;
}

nav .logo:hover {
	transform: scale(1.1);
}

nav ol {
	flex: 1;
	justify-content: flex-end;
	display: flex;
	flex-direction: row;
}

nav ol,
nav .logo {
	margin: 0 2rem;
}

h1 {
	margin: 0.1em 0;
}

nav button {
	align-self: center;
	display: none;
	justify-content: center;
	align-items: center;
	margin: 0.2em 0.5em;
}

nav img {
	width: 1.5em;
	height: 1.5em;
}

.close {
	display: flex;
}

@media (max-width: 50em) {
	nav button {
		display: flex;
	}
	nav ol {
		/*display: none;*/
		position: absolute;
		top: 2.5em;
		right: 0;
		margin: 0;
		padding: 0;
		flex-direction: column;
		background-color: rgba(0, 0, 0, 0.7);
	}
	nav ol li {
		padding: 0.5em 0.5em 0.5em 1em;
		margin: 0;
		border: 0.25px solid black;
		width: fit-content;
	}
	.close {
		display: none;
	}
}

/* Parallax scroll effect */
article {
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 2px;
}

section {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.decor-image-1,
.decor-image-2,
.decor-image-3,
.decor-image-4 {
	position: relative;
	transform: scale(2) translateZ(-1px);
	z-index: -1;
}

.decor-image-1 {
	min-height: 70vh;
	top: 0;
	background-image: url("./asset/heroimage1.jpg");
}

.decor-image-2 {
	min-height: 50vh;
	background-image: url("./asset/heroimage2.jpg");
}

.decor-image-3 {
	min-height: 50vh;
	background-image: url("./asset/heroimage3.jpg");
}

.decor-image-4 {
	min-height: 50vh;
	background-image: url("./asset/heroimage.JPG");
}
