body {
  margin: 0;
  padding: 0;  
}

nav div{
    background-image: url("./asset/heroimage1.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 70vh;
}

section {
    padding: 1em;
}

section img {
    width: 30%;
    min-width: 7em;
    height: auto;
}

.row {
    display: flex;
    justify-content: space-around;
    min-height: 200vh;
}

.col {
    flex: 1;
    max-width: 40%;
}

p img {
    float: left;
    margin-right: 1em;
}